/* Tags*/
hr{
	height: 6px;
	background: url() repeat-x 0 0;
    border: 0;
}

strong,
a,
p,
ul {
    word-spacing: 3px;
    font-size: 21px;
    font-family: 'Abel', sans-serif;
}
nav {
    font-size: 0.6em;
    font-family: 'Do Hyeon', sans-serif;
}
/*clases*/
.abajo {
    padding-top: 30px; /*Pone las cosas "más abajo", creando un poco de espacio blanco arriba del contenido.*/
}
.round-image {
    border-radius: 50%;      /*Imagen circular al poner el radio al 50% */
}
.btn{
	font-family: 'Abel', sans-serif;
}
.myBackground{
  background-color: rgb(255, 255, 255) !important;
}
.myBackground2{
  background-color: rgb(52, 58, 64) !important; 
}

.whiteFont{
  color : white;
}

.blueFont{
  color : rgb(22, 91, 188);
}

.notableFont{
  font-family: 'Notable', sans-serif;
}

.narrowFont{
  font-family: 'Archivo Narrow', sans-serif;
}

.abelFont{
  font-family: 'Abel', sans-serif;
}
.hyeonFont{
  font-family: 'Do Hyeon', sans-serif;
}

.rcorners1 {
  border-radius: 25px;
}

/* IDs */


#pageHeader{
  padding-top: 100px;
  padding-bottom: 50px;
}

.round-image {
  width: 100%; /* Proporcional al contenedor */
  max-width: 300px; /* Limita el tamaño máximo en pantallas grandes */
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s ease; /* Transición suave */
}

.round-image:hover {
  transform: scale(1.2); /* Efecto de aumento en el hover */
}

/* Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .round-image {
    width: 30%; /* Aumenta el tamaño en pantallas más pequeñas */
    max-width: 100px; /* Limita el tamaño máximo */
  }
}

@media (max-width: 480px) {
  .round-image {
    width: 40%; /* Aumenta aún más el tamaño en pantallas muy pequeñas */
    max-width: 80px; /* Ajusta el tamaño máximo */
  }
}

/* Estilo para los contenedores de video */
.video-container {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* Esto asegura que los videos mantengan una relación 16:9 */
  overflow: hidden;
  background: #000;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.contact-img {
  width: 80%;  /* Ajusta el porcentaje según el tamaño que quieras */
  max-width: 150px;  /* Controla el tamaño máximo de las imágenes */
  height: auto;  /* Mantiene la relación de aspecto */
}
